In [91]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as bf
import requests
import json

In [55]:
path=r"C:\Users\iernst\OneDrive - Intel Corporation\Documents\university\third year\semester B\intro Knowledge & Data"
fileName="\destinations_LP_crawler_Ex5.csv"
data=pd.read_csv(path+fileName,encoding='ISO-8859-1')

In [56]:
address=data["city"]

In [61]:
data

         city                           city_LP
0     Antalya       mediterranean-coast/antalya
1      Athens                            Athens
2   Ayia-napa  the-republic-of-cyprus/Agia-napa
3     Bangkok                           Bangkok
4   Barcelona                         Barcelona
..        ...                               ...
71     Venice                            Venice
72     Vienna                            Vienna
73     Warsaw                            Warsaw
74  Zakynthos                         Zakynthos
75     Zurich                            Zurich

[76 rows x 2 columns]

In [57]:
def get_country_name (city) :
    address=city
    api="AIza"
    url="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (address,api)
    try:
        response= requests.get(url)
        if not response.status_code==200:
            ("HTTP erorr", response.status_code)
        else:
            try:
                temp=response.json()
                length = len(temp["results"][0]['address_components'])-1
                country=temp["results"][0]['address_components'][length]["long_name"]
                #shit = int(country.split()[0])
                #country = temp["results"][0]['address_components'][leng-1]['long_name']
                print(country)
                return country
            except:
                print("response not in valid json format")
    except:
        print("something went wrong with requests.get(url)")
    return

In [144]:
def get_description(country,lp):
    
    url_Description="https://www.lonelyplanet.com/"
    try:
        html=requests.get(url_Description+country+"/"+lp)
        if not html.status_code==200:
            ("HTTP erorr", response.status_code)
        else:
            try:
                soup=bf(html.content,"html.parser")
                i=soup.find("div",class_="readMore_content___5EuR relative overflow-hidden max-h-96 is-max wysiwyg")
                y=i.get_text()
                return y
            except:
                print("response not in valid json format")
    except:
        print("something went wrong with requests.get(url)")
    return

In [155]:
countries=[]
cities=[]
descriptions=[]
for i in range(len(data)):
    cities.append(data.loc[i,"city"])
    cou=get_country_name(data.loc[i,"city"])
    countries.append(cou)
    descriptions.append(get_description(cou,data.loc[i,"city_LP"]))

Turkey
Greece
Cyprus
Thailand
Spain
Switzerland
Georgia
China
Germany
United States
something went wrong with requests.get(url)
Slovakia
Belgium
Romania
Hungary
Bulgaria
Mexico
Italy
Thailand
Germany
Greece
Spain
Greece
response not in valid json format
something went wrong with requests.get(url)
India
Germany
Ireland
Croatia
Germany
Italy
Germany
Switzerland
China
Germany
Austria
Turkey
Greece
Thailand
02000
something went wrong with requests.get(url)
Cyprus
United States
something went wrong with requests.get(url)
Cyprus
Portugal
Slovenia
United States
something went wrong with requests.get(url)
Spain
Philippines
France
Mexico
United States
something went wrong with requests.get(url)
Italy
Russia
India
Germany
846 00
something went wrong with requests.get(url)
Italy
France
65000
something went wrong with requests.get(url)
France
83000
something went wrong with requests.get(url)
Greece
Italy
Austria
United States
something went wrong with requests.get(url)
China
Bulgaria
Russia
Germany
Taiwan
Georgia
Greece
Canada
Italy
Austria
03
something went wrong with requests.get(url)
Greece
Switzerland

In [150]:
len(descriptions)

76

In [168]:
df= pd.DataFrame(cities,columns=["city"])
df["country"]=countries
df["description"]=descriptions

In [170]:
df

         city      country                                        description
0     Antalya       Turkey  Once seen simply as the gateway to the Turkish...
1      Athens       Greece  With equal measures of grunge and grace, Athen...
2   Ayia-napa       Cyprus  Endless blue-sky days and a coastline riddled ...
3     Bangkok     Thailand  Same same, but different. This Thailish T-shir...
4   Barcelona        Spain  Barcelona is an enchanting seaside city with b...
..        ...          ...                                                ...
71     Venice        Italy  Imagine the audacity of building a city of mar...
72     Vienna      Austria  Baroque streetscapes and imperial palaces set ...
73     Warsaw           03                                               None
74  Zakynthos       Greece  Zakynthos, also known by its Italian name Zant...
75     Zurich  Switzerland  Culturally vibrant, efficiently run and attrac...

[76 rows x 3 columns]

In [177]:
file_name=path+"/LP_destinations.csv"
df.to_csv(file_name,index=False,header=True)